*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    display: flex;
    background: white;
}
body{
    font-family: 'Open Sans', sans-serif;   
}
.wrapper{
    width: 76%;
    margin:0 auto;
}

/* логотип */

.header_logo{
    text-transform: capitalize;
    font-size: 46px;
    color: white;
    margin: 23px 0px 16px 165px;
}
p .capital_letter{
    padding: 14px 11px 16px 9px;
    
}
p .secondary_letter{
    background: white;
    margin-left: 10px;
    color:#038c8c;
}
.capital_letter{
   background: linear-gradient(#42eee3,#2ee2d6,#1fd0c4,#17c0b5,#0eb0a5,#0aa096);
  
}

/* меню */

nav{
    margin-left: 41%;
    margin-top: 41px;
    font-size: 19px;
    font-weight: 300;
}
.main_nav a{
    color: #565656;
}

.banner{
    background: linear-gradient(to left,#00787f,#0fc5b0 );
}

.banner_main{
  
    display: flex;
}
.app{
    display: flex;
}
.app p{
    text-transform: uppercase;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 300;
}
.present{
    text-transform: uppercase;
    font-size: 39px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 300;
}
.present_text{
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 300;
}


.slider{
    display: flex;
    position: absolute;
    right:1px ;
}


.block_1{
    background-color: #059491;
}
.block_2{
    background-color: #038587;
}
.block_3{
    background-color: #017d82;
}

.block_1 img{
    padding:29px 27px ;
}
.block_2 img{
    padding:29px 27px ;
}
.block_3 img{
    padding:29px 27px ;
}

.phone{
    margin: 59px 90px 34px 140px ;
}

button {
    background: #54d3c3;
    border: none;
}